<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/630c0be786.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&family=Tiro+Kannada&display=swap" rel="stylesheet"> 
    <link
      
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script type="module" src="../index.js"></script>
    <style>
      .container{
        padding: 50px 0 ;
      }
      .card-body{
        background-color:#142d4c;
        border: 5px solid rgb(3, 14, 51);
      }
      .btn{
        font-family: 'Tiro Kannada', serif;
      }
      .info{
        border-color:aliceblue;
        color: aliceblue;

      }
      .info:hover{
        background: aliceblue;
        color: #142d4c;
      }
      .success{
        border-color: rgb(3, 14, 51);
        color:  rgb(3, 14, 51);

      }
      .success:hover{
        background:  rgb(14, 29, 75);
        color: aliceblue;
      }
      
    </style>
  </head>

  <body style="background-color: rgba(192, 238, 230, 0.877)">
      <%- body %>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html> 